.publicationsTab {
  /* background-color: #ffffff; */
}

.publicationList {
  /* font-size: 1.5vw; */
  /* color: #222222; */
  text-align: left;
  font-family: inherit;
  float: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}

li {
  margin-top: 2%;
}
