.resume-item-page {
  /* padding: 0 4rem; */
  padding: 0 10vw 2vh 10vw;
}

.footer {
  height: 10vh;
}

.resume-item-page a {
  color: #666688;
  font-weight: normal;
}

.resume-item-list {
  list-style-type: none;
}

.resume-item-list li {
  margin: 0;
}

.resume-item {
  font-family: inherit;
  border-radius: 6px;
}

.education-item {
  /* padding: 20px 40px 20px 20px; */
  width: 100%;
  text-align: left;
}

.resume-item-image-holder,
.education-item .year {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  padding: 20px;
}

.education-item .year {
  font-size: large;
  text-align: center;
}

.resume-item img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 6px;
  object-fit: cover;
}

.resume-item:hover {
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.resume-item-data,
.education-item .school-info {
  display: inline-block;
  padding: 20px 40px 20px 20px;
  width: 75%;
  text-align: left;
  vertical-align: middle;
}

.hobby-list-holder {
  width: 100%;
  padding: 10px 0;
}

.hobby-list ul {
  list-style-type: none;
}

.hobby-list li {
  display: inline-block;
  width: 15%;
  margin: 0 1.5vw 0 0;
  min-width: 50px;
}

.hobby-div {
  align-content: center;
}

.hobby-image-holder {
  border: 2px solid rgba(72, 85, 109, 0.87);
  border-radius: 6px;
}

.hobby-image-holder:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.hobby-image-holder img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.hobby-name {
  visibility: hidden;
  padding: 10px 0;
  text-align: center;
  font-size: small;
  position: absolute;
  z-index: 1;
  margin-left: calc(- (100% - 20px) / 2);
}

.hobby-div:hover .hobby-name {
  visibility: visible;
}

.socials {
  list-style-type: none;
}

.socials li {
  display: inline-block;
  font-weight: bold;
  font-size: x-large;
  margin: 0 10px 0 0;
}
