.App {
  text-align: center;
}

.App-header {
  /* background-color: #1e1e1e; */
}

.borderDiv {
  margin-top: auto;
}

.border {
  width: 100%;
  display: block;
}

.horizFlex {
  display: flex;
  flex-direction: row;
  margin: 0 7.5% 0 7.5%;
  align-items: center;
}

.titleDiv {
  display: flex;
  flex-direction: row;
}

.wordHolder {
  height: 40px;
  /*width: 100%; */
  align-content: center;
}

.header {
  /* font-size: 32px; */
  /* color: white; */
  position: relative;
  font-family: inherit;
}

.paragraph {
  /* font-size: 28px; */
  /* color: white; */
  font-family: inherit;
  text-align: left;
}

.main_nav {
}

.main_nav_item {
  display: inline-block;
  padding: 20px;
}
