.main-vertical-header {
  padding-left: 6vw;
  padding-right: 6vw;
}

.main-vertical-scroller,
.main-vertical-header {
  padding-top: 6vh;
}

.main-vertical-header h1,
.main-vertical-header .identity,
.main-vertical-header p {
  text-align: left;
  padding-bottom: 0.5rem;
}

.main-vertical-header h1 {
  font-size: 3rem;
}

.resume-item-page {
  /* padding: 0 4rem; */
  padding: 0 6vw 2vh 6vw;
}

.publications-page {
  margin: 8vh 8vw;
}

.publications-page li {
  margin-bottom: 1.5rem;
}

.footer {
  height: 10vh;
}

.resume-item-page a {
  color: #666688;
  font-weight: normal;
}

.resume-item-list {
  list-style-type: none;
}

.resume-item-list li {
  margin: 0;
}

.resume-item {
  font-family: inherit;
  border-radius: 6px;
}

.education-item {
  /* padding: 20px 40px 20px 20px; */
  width: 100%;
  text-align: left;
}

.resume-item-image-holder,
.education-item .year {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  padding: 20px;
}

.education-item .year {
  font-size: large;
  text-align: center;
}

.resume-item img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 6px;
  object-fit: cover;
}

.resume-item:hover {
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.resume-item-data,
.education-item .school-info {
  display: inline-block;
  padding: 20px 40px 20px 20px;
  width: 75%;
  text-align: left;
  vertical-align: middle;
}

/* .hobby-list-holder {
  width: 100%;
  padding: 10px 0;
} */

.hobby-list ul {
  list-style-type: none;
}

.hobby-list li {
  display: inline-block;
  width: 15%;
  margin: 0 1.5vw 0 0;
  min-width: 50px;
}

.hobby-div {
  align-content: center;
  position: relative;
}

.hobby-list {
  padding: 20px 20px 0 20px;
}

.hobby-image-holder {
  border: 2px solid rgba(72, 85, 109, 0.87);
  border-radius: 6px;
}

.hobby-image-holder:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.hobby-image-holder img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.hobby-name {
  visibility: hidden;
  padding: 10px 0;
  text-align: center;
  font-size: small;
  position: absolute;
  z-index: 1;
  margin-left: calc(- (100% - 20px) / 2);
}

.hobby-div:hover .hobby-name {
  visibility: visible;
}

.socials {
  list-style-type: none;
}

.socials li {
  display: inline-block;
  font-weight: bold;
  font-size: x-large;
  margin: 0 20px 0 0;
}

.content-vert-div h3 {
  padding: 1rem 0;
}

.content-div p {
  margin-bottom: 1.5rem;
}

.media-holder {
  padding-bottom: 40px;
}
.media-image-holder {
  width: 100%;
  min-width: 300px;
}

.media-image-holder img {
  border-radius: 14px;
  width: 100%;
}

.iframe-video {
  border-radius: 14px;
  width: 100%;
  aspect-ratio: 1.78;
  max-width: 100%;
  max-height: calc((100vw - 40px) / (560 / 315));
}

.iframe-shorts-video {
  border-radius: 14px;
  width: 315px;
  height: 560px;
  max-width: 100%;
  max-height: calc((100vw - 40px) / (315 / 560));
}

.accessories {
  margin: 3vh 0;
}

.accessories a {
  color: #ffffff;
  font-weight: bold;
  font-size: large;
}

.accessories .button {
  background-color: #1d99c2;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 20px 0 0;
}

.accessories a:hover {
  transform: scale(1.1);
  background-color: #09aee5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.pubs li {
  margin-bottom: 1.5rem;
}
.pubs a:hover {
  color: #09aee5;
}

.content-div {
  padding-left: 10vw;
  padding-right: 10vw;
}

.media-vert-div,
.content-vert-div {
  padding-top: 12vh;
}

.gallery-page {
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  padding-top: 12vh;
}

.gallery {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  justify-content: center;
}

.gallery h1 {
  text-align: center;
}

.gallery .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.gallery .image-container .image {
  width: 350px;
  height: 250px;
  border: 10px solid #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.gallery .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.gallery .image-container .image:hover img {
  transform: scale(1.1);
}

#popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

#popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

#popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #fff;
  border-radius: 5px;
  width: 75%;
  object-fit: cover;
}

.home-button {
  position: absolute;
  min-width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #1d99c2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: #fff;
  top: 30px;
  right: 30px;
}

.home-button:hover {
  transform: scale(1.1);
  background-color: #09aee5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.citationsLi {
  align-content: center;
  position: relative;
}
.citations {
  visibility: hidden;
  padding: 1rem 2rem;
  text-align: center;
  font-size: small;
  position: absolute;
  background-color: #fff;
  color: #666688;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 1;
  margin-left: calc(- (100% - 20px) / 2);
  width: 60vw;
}

.citations p {
  font-size: medium;
  font-weight: normal;
}

.citationsLi:hover {
  color: #09aee5;
}
.citationsLi:hover .citations {
  visibility: visible;
}

@media (min-width: 40rem) {
  .main-vertical-header {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .main-vertical-scroller,
  .main-vertical-header {
    padding-top: 8vh;
  }

  .resume-item-page {
    /* padding: 0 4rem; */
    padding: 0 6vw 2vh 6vw;
  }

  .publications-page {
    margin: 10vh 15vw;
  }
}

@media (min-width: 70rem) {
  .content-div {
    flex-direction: row;
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }

  .content-vert-div {
    flex-direction: column;
    left: 0;
    top: 0;
    position: relative;
    width: 39%;
    margin: 0 0 10vh 10vw;
  }

  .media-vert-div {
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    width: 60%;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
  }
}

@media (min-width: 70rem) {
  .main-page {
    flex-direction: row;
    display: flex;
  }

  .main-vertical-header {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .main-vertical-scroller,
  .main-vertical-header {
    padding-top: 12vh;
  }

  .resume-item-page {
    /* padding: 0 4rem; */
    padding: 0 10vw 2vh 10vw;
  }

  .publications-page {
    margin: 15vh 20vw;
  }

  .main-vertical-header {
    flex-direction: column;
    left: 0;
    top: 0;
    position: relative;
    width: 25%;
    margin: 0 0 10vh 10vw;
    min-width: 200px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-vertical-header,
  .main-vertical-header .lower-header-div {
    /* padding: 6vw; */
  }

  .main-vertical-header .lower-header-div {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .main-vertical-scroller {
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    width: 74%;
    min-width: 700px;
  }

  .citations {
    bottom: 2.5rem;
    width: 40vw;
  }
}
