.App {
  text-align: center;
}

/* .App-header {
 
} */

.borderDiv {
  margin-top: auto;
}

.border {
  width: 100%;
  display: block;
}

.horizFlex {
  display: flex;
  flex-direction: row;
  margin: 0 7.5% 0 7.5%;
  align-items: center;
}

.titleDiv {
  display: flex;
  flex-direction: row;
}

.wordHolder {
  height: 40px;
  /*width: 100%; */
  align-content: center;
}

.header {
  /* font-size: 32px; */
  /* color: white; */
  position: relative;
  font-family: inherit;
}

.paragraph {
  /* font-size: 28px; */
  /* color: white; */
  font-family: inherit;
  text-align: left;
}

/* .main_nav {
} */

.main_nav_item {
  display: inline-block;
  padding: 20px;
}

.main-page {
  flex-direction: row;
  display: flex;
}

.main-vertical-scroller,
.main-vertical-header {
  margin-top: 2%;
}

.main-vertical-header {
  flex-direction: column;
  padding: 5vw;
  width: 40%;
  left: 0;
  top: 0;
}

.main-vertical-header h1,
.main-vertical-header .identity {
  text-align: left;
  padding: 10px 0 10px 0;
}

.main-vertical-scroller {
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  width: 60%;
}

.gif {
  width: 100%;
  /* margin-top: -30%; */
}

.music {
  width: 100%;
  margin-top: 0%;
}

.imageHolder {
  position: relative;
  text-align: center;
  /* color: white; */
}

/* Centered text */
.centered {
  position: absolute;
  font-size: 2vw;
  /* color: black; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
