h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-1);
  font-weight: var(--font-weight-2);
}

a {
  color: var(--highlight-1);
  font-weight: var(--font-weight-2);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-1);
}

a.external-link {
  color: var(--highlight-1);
}

a.external-link:hover {
  color: var(--highlight-1-fade);
}

a.external-link::after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.25em;

  background-size: 100%;
  background-color: var(--text-color-3); /* icon color */

  mask: url("assets/external-link.svg") no-repeat center / contain;
  -webkit-mask: url("assets/external-link.svg") no-repeat center / contain;
}

@media (min-width: 40rem) {
}
@media (min-width: 70rem) {
}

/* --------------------------- MAIN PAGE ------------------------------------ */

.main-vertical-header {
  padding-left: var(--lr-margin-small);
  padding-right: var(--lr-margin-small);
}

.main-vertical-scroller,
.main-vertical-header {
  padding-top: var(--top-margin-small);
}

.main-vertical-header h1,
.main-vertical-header .identity,
.main-vertical-header p {
  text-align: left;
  padding-bottom: 0.5rem;
}

.main-vertical-header h1 {
  font-weight: var(--font-weight-3);
  font-size: 2rem;
}

.footer {
  height: 10vh;
}

/* ------  mid size screens  -------- */
@media (min-width: 40rem) {
  .main-vertical-header {
    padding-left: (--lr-margin-small);
    padding-right: (--lr-margin-small);
  }

  .main-vertical-scroller,
  .main-vertical-header {
    padding-top: var(--top-margin-small);
  }

  #popup-image img {
    width: 75%;
  }
}

/* ------  large screens  -------- */
@media (min-width: 70rem) {
  .main-page {
    flex-direction: row;
    display: flex;
  }

  /* .main-vertical-header {
    padding-left: var(--lr-margin-large);
    padding-right: var(--lr-margin-large);
  } */

  .main-vertical-scroller,
  .main-vertical-header {
    padding-top: var(--top-margin-large);
  }

  .main-vertical-header {
    flex-direction: column;
    left: 0;
    top: 0;
    position: relative;
    width: 25%;
    margin: 0 0 var(--lr-margin-large) var(--lr-margin-large);
    min-width: 200px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-vertical-header .lower-header-div {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .main-vertical-scroller {
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    width: 74%;
    min-width: 700px;
  }
}

/* --------------------------- SOCIAL MEDIA BUTTONS ------------------------------------ */

.socials a,
.citationsLi {
  color: var(--text-color-3);
  text-decoration: inherit;
  font-weight: bold;
}

.socials a:hover {
  color: var(--highlight-1);
}

.socials {
  list-style-type: none;
}

.socials li {
  display: inline-block;
  font-weight: bold;
  font-size: x-large;
  margin: 0 20px 0 0;
}

.social-name {
  visibility: hidden;
  padding: 30px 0px;
  text-align: center;
  font-size: small;
  position: absolute;
  z-index: -1;
  margin-left: -30px;
}

.social-div:hover .social-name {
  color: var(--highlight-1);
  font-weight: var(--font-weight-1);
  visibility: visible;
}

.citations {
  color: var(--text-color-2);
}

.accessories a:hover {
  background-color: var(--highlight-1);
}

.citationsLi:hover {
  color: var(--highlight-1);
}

.citationsLi {
  align-content: center;
  position: relative;
}

.citations {
  visibility: hidden;
  padding: 1rem 2rem;
  text-align: center;
  font-size: small;
  font-weight: var(--font-weight-1);
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 1;
  margin-left: calc((100% - 25px) / 2);
  margin-top: -10px;
  width: 50vw;
}

.citations a {
  color: var(--highlight-1);
  font-weight: var(--font-weight-1);
}

.citations a:hover {
  color: var(--highlight-1-fade);
}

.citationsLi:hover .citations {
  visibility: visible;
}

/* ------  mid size screens  -------- */
@media (min-width: 40rem) {
  .citations p {
    font-size: medium;
    font-weight: var(--font-weight-1);
  }
}
@media (min-width: 70rem) {
  .citations {
    bottom: 2.5rem;
    width: 40vw;
    margin-bottom: -5px;
  }
}

/* --------------------------- RESUME ITEMS / EDUCATION ------------------------------------ */

.resume-item-page {
  padding: 0 6vw 2vh 6vw;
}

.resume-item-list {
  list-style-type: none;
}

.resume-item-list li {
  margin: 0;
}

.resume-item {
  color: var(--text-color-2);
  font-family: inherit;
  border-radius: 6px;
}

.resume-item h4 {
  margin-bottom: 0.5rem;
}

.resume-item-image-holder,
.education-item .year {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  padding: 2vw 2vw 2vw 4vw;
}

.resume-item img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.resume-item:hover {
  color: var(--text-color-2);
  background-color: var(--highlight-bg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.resume-item-data,
.education-item .school-info {
  display: inline-block;
  padding: 2vw 4vw 2vw 2vw;
  width: 75%;
  text-align: left;
  vertical-align: middle;
}

.education-item {
  width: 100%;
  text-align: left;
}

.education-item .year {
  font-size: large;
  text-align: center;
}

.degree,
.department {
  color: var(--text-color-1);
  font-weight: var(--font-weight-2);
}

/* ------  mid size screens  -------- */
@media (min-width: 40rem) {
  .resume-item-page {
    padding: 0 (--lr-margin-small) 2vh (--lr-margin-small);
  }

  .resume-item-image-holder,
  .education-item .year {
    padding: 3vw 2vw 3vw 4vw;
  }
  .resume-item-data,
  .education-item .school-info {
    padding: 3vw 4vw 3vw 2vw;
  }
}

@media (min-width: 70rem) {
  .resume-item-page {
    /* padding: 0 4rem; */
    padding: 0 (--lr-margin-large) 2vh (--lr-margin-large);
  }

  .resume-item-image-holder,
  .education-item .year {
    padding: 1vw 1vw 1vw 2vw;
  }

  .resume-item-data,
  .education-item .school-info {
    padding: 1vw 2vw 1vw 1vw;
  }
}

/* --------------------------- HOBBIES ------------------------------------ */

.hobby-list-holder {
  width: 100%;
  padding: 10px 0;
}

.hobby-list {
  padding: 20px 20px 0 20px;
}

.hobby-list ul {
  list-style-type: none;
}

.hobby-list li {
  display: inline-block;
  width: 12%;
  margin: 0 2.5vw 0 0;
  min-width: 50px;
}

.hobby-div {
  align-content: center;
  position: relative;
}

.hobby-div:hover .hobby-name {
  visibility: visible;
}

.hobby-image-holder {
  border: 2px solid var(--text-color-2);
}

.hobby-image-holder {
  border-radius: 6px;
}

.hobby-image-holder:hover {
  transform: scale(1.1);
  background-color: var(--highlight-bg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.hobby-image-holder img {
  width: 100%;
  object-fit: cover;
  padding: 8px;
  display: block;
}

.hobby-name {
  visibility: hidden;
  color: var(--text-color-2);
  padding: 10px 0;
  /* text-align: center; */
  font-size: small;
  position: absolute;
  z-index: 1;
  margin-left: -calc((100% - 20px) / 2);
}

/* --------------------------- PUBLICATIONS PAGE ------------------------------------ */

.publications-page {
  margin: 8vh 8vw;
}

.publications-page h3 {
  margin-bottom: 1.5rem;
}
.publications-page li {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

/* ------  mid size screens  -------- */
@media (min-width: 40rem) {
  .publications-page {
    margin: 10vh 20vw;
  }
}
@media (min-width: 70rem) {
  .publications-page {
    margin-top: calc(var(--top-margin-large) * 1.5);
    margin-left: calc(var(--lr-margin-large) * 3);
    margin-right: calc(var(--lr-margin-large) * 3);
  }
}

/* --------------------------- HOME BUTTON ------------------------------------ */

/* .home-button {
  position: absolute;
  min-width: 60px;
  height: 60px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: #fff;
  top: 30px;
  right: 30px;
}

.home-button:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
} */

.home-button {
  color: var(--text-color-4);
  width: 100%;
  position: fixed;
  padding-top: calc(var(--top-margin-small) / 2);
  padding-left: var(--lr-margin-small);
  padding-right: var(--lr-margin-small);
  padding-bottom: calc(var(--top-margin-small) / 3);
  top: 0;
  left: 0;
  background-color: var(--color-bg);
  z-index: 2;
}

.home-button:hover {
  color: var(--text-color-3);
}

@media (min-width: 70rem) {
  .home-button {
    padding-top: calc(var(--top-margin-small) / 2);
    padding-left: var(--lr-margin-small);
    padding-right: var(--lr-margin-small);
    padding-bottom: calc(var(--top-margin-small) / 3);
    top: 0;
    left: 0;
    background-color: var(--color-bg);
  }

  .home-button {
    position: fixed;
    display: inline-flex;
    align-items: center;
    width: auto;
    gap: 0.25em;
    z-index: 1;
    cursor: pointer;
    padding: 0;
    left: calc(var(--lr-margin-large) - 5rem);
    top: calc(var(--top-margin-large) + 1.15rem);
    margin: 0;
  }
  .publication-page-wrapper .home-button {
    left: calc(var(--lr-margin-large) * 3 - 5rem);
    top: calc(var(--top-margin-large) * 1.5);
  }
}

/* --------------------------- RESUME CONTENT PAGES ------------------------------------ */

.media-caption {
  background-color: rgba(250, 250, 250, 0.85);
}
.media-holder {
  padding-bottom: 40px;
}

.media-horz-short-holder {
  flex: 0 0 auto;
}

.iframe-shorts-video {
  border-radius: 20px;
  width: 100%;
  height: calc((100vw) * (560 / 315));
}

.media-image-holder {
  position: relative;
  width: 100%;
  min-width: 300px;
}

.media-image-holder img {
  border-radius: 14px;
  width: 100%;
}

.iframe-video {
  border-radius: 14px;
  width: 100%;
  aspect-ratio: 1.78;
  max-width: 100%;
  max-height: calc((100vw - 40px) / (560 / 315));
}

.iframe-desmos {
  border-radius: 14px;
  width: 100%;
  aspect-ratio: 1;
  max-width: 100%;
  /* max-height: calc((100vw - 40px) / (560 / 315)); */
}

.stl-viewer {
  top: 0;
  left: 0;
  width: "100%";
  aspect-ratio: 1;
}

.media-image-holder:hover .media-caption {
  visibility: visible;
}

.media-caption {
  visibility: hidden;
  border-radius: 6px;
  padding: 5px 10px;
  text-align: left;
  font-size: small;
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 5px;
}

.accessories .button {
  background-color: var(--highlight-1);
}

.accessories {
  margin: 3vh 0;
}

.accessories a {
  color: var(--highlight-bg);
  font-weight: bold;
  font-size: large;
}

.accessories .button {
  border: none;
  color: var(--highlight-bg);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 20px 0 0;
}

.accessories a:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.pubs a {
  color: var(--highlight-2);
}

.pubs li {
  list-style-type: none;
  margin-bottom: 1.5rem;
  /* font-weight: normal; */
  /* line-height: 1; */
}

.content-div,
.content-wrapper-horz-div {
  padding-left: var(--lr-margin-small);
  padding-right: var(--lr-margin-small);
  padding-top: var(--top-margin-small);
}

.content-div strong {
  color: var(--text-color-1);
  font-weight: var(--font-weight-3);
}

/* .media-vert-div,
.content-vert-div,
.content-horz-div,
.media-horz-div {
  padding-top: var(--top-margin-small);
} */

.content-vert-div h3 {
  padding: 1rem 0;
}

/* .content-horz-div {
  padding-top: var(--top-margin-large);
} */

.content-horz-div h3 {
  padding: 1rem 0;
}

.content-div p {
  margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
  .media-horz-short-holder {
    flex: 0 0 auto;
    width: 35vh;
    height: 100%;
  }

  .iframe-shorts-video {
    border-radius: 20px;
    height: 60vh;
    width: calc((60vh) * (315 / 560));
  }
}

@media (min-width: 40rem) {
  .content-wrapper-horz-div {
    padding-left: var(--lr-margin-large);
    padding-right: var(--lr-margin-large);
    padding-top: var(--top-margin-large);
  }

  .content-wrapper-horz-div {
    flex-direction: column;
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }

  .content-horz-div {
    flex-direction: row;
    overflow-y: scroll;
    margin: 0 var(--lr-margin-large) 0 var(--lr-margin-large);
  }

  .media-horz-div {
    flex-direction: row;
    display: flex;
    height: 70vh;
    overflow-x: scroll;
    width: 80vw;
    margin-left: 10vw;
    overflow-x: auto;
    margin-bottom: 10vh;
  }
}

@media (min-width: 70rem) {
  .content-div {
    padding-left: var(--lr-margin-large);
    padding-right: var(--lr-margin-large);
    padding-top: var(--top-margin-large);
  }

  .content-div {
    flex-direction: row;
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }

  .content-vert-div {
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    left: 0;
    top: 0;
    position: relative;
    width: 49%;
    margin: 0 0 var(--top-margin-large) var(--lr-margin-large);
    padding-right: calc(var(--lr-margin-large) / 2);
    padding-bottom: var(--top-margin-large);
  }

  /* .content-paragraphs {
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);
    mask-image: linear-gradient(to bottom, black 80%, transparent);
  } */

  .media-vert-div {
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    width: 50%;
    padding-left: calc(var(--lr-margin-large) / 2);
    padding-right: var(--lr-margin-large);
    padding-bottom: var(--top-margin-large);
  }
}

/* ----------------------------- RESUME STORY PAGE ---------------------------------- */

.story-title-div {
  background-color: var(--highlight-1);
  height: calc(var(--top-margin-small) * 2);
}

.story-title-div div {
  padding-left: var(--lr-margin-small);
  padding-top: calc(var(--top-margin-small));
  color: var(--highlight-bg);
}

.story-title-div h3 {
  color: var(--highlight-bg);
  padding: 1rem 0;
}

.story {
  display: block;
  gap: 4vw;
  align-items: flex-start;
  padding-left: var(--lr-margin-small);
  padding-right: var(--lr-margin-small);
  background-color: var(--color-bg);
}

.story-footer {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  background-color: var(--color-bg);
  margin-bottom: 10vh;
}

.text-column {
  position: relative;
  /* margin-top: 35vh; */
  margin-bottom: 20vh;
  width: 100%;
}

.text-column h1 {
  margin-bottom: 2rem;
}

.story-p-holder {
  height: 100vh;
}

.story-p {
  line-height: 1.6;
  padding: 2rem 2rem;
  background-color: var(--highlight-bg);
  border-radius: 10px;
  border: 2px solid var(--text-color-4);
  z-index: 99;
}

.media-column {
  width: 100%;
  position: sticky;
  top: 10vh;
  height: 60vh;
  overflow-y: hidden;
}

.story-media-holder {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.story-media-holder.active {
  opacity: 1;
  z-index: 1;
}

.iframe-holder {
  width: 100%;
}

.iframe-video {
  width: 100%;
  aspect-ratio: 560 / 315;
  max-height: 100%;
}

.story-desmos {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1;
  max-height: 100%;
  /* max-height: calc((100vw - 40px) / (560 / 315)); */
}

.story-media-holder img {
  border-radius: 10px;
  border: 2px solid var(--text-color-4);
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@media (min-width: 40rem) {
  .media-column {
    height: 70vh;
  }
}

@media (min-width: 70rem) {
  .story-title-div {
    height: calc(var(--top-margin-large) * 2);
  }

  .story-title-div div {
    padding-left: var(--lr-margin-large);
    padding-top: calc(var(--top-margin-large));
  }

  .story-title-div h3 {
    padding: 1rem 0;
  }

  .story {
    display: flex;
    gap: 4vw;
    align-items: flex-start;
    padding-left: var(--lr-margin-large);
    padding-right: var(--lr-margin-large);
    background-color: var(--color-bg);
  }
  .story-footer {
    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 15vh;
    width: 60vw;
    margin-bottom: 10vh;
  }

  .text-column {
    margin-top: 35vh;
    margin-bottom: 20vh;
    width: 40%;
  }

  .text-column h1 {
    margin-bottom: 2rem;
  }

  .story-p-holder {
    height: 100vh;
  }

  .story-p {
    line-height: 1.6;
    padding: 2rem 2rem;
  }

  .media-column {
    width: 60%;
    height: 80vh;
  }

  .story-media-holder {
    position: absolute; /* stack all media in same column */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .story-media-holder.active {
    opacity: 1;
    z-index: 1;
  }

  .iframe-holder {
    width: 100%;
  }
  .iframe-video {
    width: 100%;
    aspect-ratio: 560 / 315;
    max-height: 100%;
  }

  .story-desmos {
    width: 100%;
    aspect-ratio: 1;
    max-height: 100%;
  }

  .story-media-holder img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}
/* --------------------------- GALLERY PAGE ------------------------------------ */
.gallery-page {
  margin-left: var(--lr-margin-small);
  margin-right: var(--lr-margin-small);
  padding: 0;
  background-color: var(--color-text3);
  padding-top: var(--top-margin-large);
}

.gallery {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  justify-content: center;
}

.gallery h1 {
  text-align: center;
}

.gallery .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.gallery .image-container .image {
  width: 350px;
  height: 250px;
  border: 10px solid #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.gallery .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.gallery .image-container .image:hover img {
  transform: scale(1.1);
}

#popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

#popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

#popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #fff;
  border-radius: 5px;
  width: 95%;
  object-fit: cover;
}

@media (min-width: 70rem) {
  .gallery-page {
    margin-left: var(--lr-margin-large);
    margin-right: var(--lr-margin-large);
  }
}
