* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* These are the main theme settings for the page */
:root {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: small;

  color-scheme: light dark;
  color: #666688;
  background-color: #f7f7f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 40rem) {
  :root {
    font-size: medium;
  }
}

a {
  /* font-weight: bold; */
  color: #4d4d89;
  text-decoration: inherit;
  font-weight: bold;
}

a:hover {
  /* font-weight: bold; */
  color: #0672f6;
}

body {
  /* */
}
/* 
@media (prefers-color-scheme: light) {
  :root {
  
  }
  a:hover {
   
  }
  button {
   
  }
} */
