* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
.geist-test {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* These are the main theme settings for the page */
:root {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Geist", sans-serif;
  /* JetBrains Mono */
  /* font-family: "IBM Plex Sans", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-size: small;

  --color-bg: #f7f7f7;
  --text-color-1: #111;
  --text-color-2: #666;
  --text-color-3: #aaa;
  --text-color-4: #ccc;

  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;

  --highlight-1: #0696f6;
  --highlight-1-fade: #73c2f6;
  --highlight-2: #3f81ac;
  --highlight-3: #fc8302;
  --highlight-bg: #fff;

  --lr-margin-large: 10vw;
  --top-margin-large: 12vh;

  color-scheme: light dark;
  color: var(--text-color-2);
  font-weight: var(--font-weight-1);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 40rem) {
  :root {
    font-size: medium;
  }
}

/* 
body {

} */
