.projectDiv {
  background-color: #353535;
  /* height: 100vh; */
}

.homeButton {
  text-decoration: none;
}

a {
  color: hotpink;
}

.homeButtonTitle {
  padding-top: 1%;
  text-align: left;
  margin-left: 2%;
  font-size: 3vw;
  color: white;
  font-family: Futura;
}

.horizDiv {
  flex-direction: row;
  display: flex;
}

.vertDiv {
  flex-direction: column;
  width: 50%;
  left: 0;
  margin-top: 5%;
  /* overflow: hidden; */
  top: 0;
}

.projectTitle {
  margin-left: 7.5%;
  margin-top: 10%;
  text-align: left;
  font-size: 2vw;
  color: white;
  font-family: Futura;
  font-weight: bold;
}

.projectParagraph {
  margin: 5%;
  text-align: left;
  color: white;
  font-family: Futura;
  font-size: 1vw;
  overflow-y: scroll;
}

.imageScroller {
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  width: 50%;
}

.videoHolder {
  width: 80%;
  margin: 5%;
}

.projectImageHolder {
  width: 80%;
  margin: 5%;
}

.projectImage {
  border-radius: 2%;
  width: 100%;
}
.musicImage {
  width: 50%;
}

.mekaTankImage {
  width: 50%;
}

.iframe-video {
  border-radius: 2%;
  width: 560px;
  height: 315px;
  max-width: 100%;
  max-height: calc((100vw - 40px) / (560 / 315));
}

.iframe-shorts-video {
  border-radius: 2%;
  width: 315px;
  height: 560px;
  max-width: 100%;
  max-height: calc((100vw - 40px) / (315 / 560));
}
